body {
    background-image: url("https://cdn.pixabay.com/photo/2018/01/05/02/47/fish-3062034_1280.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.bgImg {
    background-color: transparent;
    color: seashell;
    text-shadow: 0 0 8px black;
    margin-bottom: 0;
}

.row {
    padding-bottom: 20px;
}

p {
    color: seashell;
    text-shadow: 0 0 4px black;
}

.headlines {
    display: block;
    margin: auto;
}

.articleData {
    text-align: center;
    padding: 10px;
}

.addNote {
    text-align: center;
    margin: 10px auto;
}