body {
    background-image: url("https://cdn.pixabay.com/photo/2018/01/05/02/47/fish-3062034_1280.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.bgImg {
    background-color: transparent;
    color: seashell;
    text-shadow: 0 0 8px black;
}

p {
    color: seashell;
    text-shadow: 0 0 4px black;
}
